.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 2rem 0;
}

.portfolio span:nth-of-type(1) {
  color: var(--black);
  font-size: 2rem;
  font-weight: bold;
}

.portfolio span:nth-of-type(2) {
  color: var(--orange);
  font-size: 2.5rem;
  font-weight: bold;
}

.portfolio-slider {
  width: 100%;
  margin-top: 2rem;
}

.portfolio-item {
  position: relative;
  overflow: hidden;
}

.portfolio-item img {
  width: 100%;
  border-radius: 12px;
  transition: transform 0.3s ease;
}

.portfolio-item:hover img {
  transform: scale(1.05);
}

.portfolio-description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.portfolio-description p {
  color: white;
  font-size: 0.6rem;
  margin: 0;
}

.portfolio-button {
  display: block;
  margin-top: 0.5rem;
  padding: 8px 16px;
  background-color: var(--orange);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  position: relative; /* Ensure pseudo-element is positioned relative to this */
  overflow: hidden; /* Ensure pseudo-element is contained within button */
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-size: small;
}

.portfolio-button::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 50%;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.portfolio-button:hover::after {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.portfolio-button:hover {
  background-color: var(--dark-orange);
  transform: scale(1.05);
}